.wifi {
	.search {
      z-index: 999;
      position: absolute;
      left: 10px;
    > div {
      position: absolute;
      top: 10px;
      left: 0;
      background-color: rgb(0, 155, 198);
      border: 1px solid rgb(120, 215, 255);
      height: 41px;
    }
    .s-left {
      width: 280px;
      .mac {
        position: absolute;
        top: 8px;
        height: 20px;
        left: 10px;
        right: 24px;
        input::-webkit-input-placeholder {
          color: rgb(140, 213, 235) !important;
        }
        .el-input__inner {
          left: 0;
          top: -24px;
          font-size: 12px;
          background-color: transparent;
          border: none;
          color: #fff;
          padding: 0;
          line-height: 16px;
          position: absolute;
        }
        i.el-icon-close {
          position: absolute;
          font-size: 20px;
          top: 2px;
          right: -20px;
          color: rgb(140, 213, 235);
          transition: all 0.3s;
          &:hover {
            transform: rotate(180deg);
          }
        }
      }
    }
    .s-right {
      width: 338px;
      left: 290px;
      position: relative;
      .el-date-editor--datetimerange {
        position: absolute;
        left: -4px;
        top: 6px;
        background-color: transparent;
        border: none;
        .el-icon-date {
          color: rgb(140, 213, 235);
          padding-right: 5px;
        }
        input::-webkit-input-placeholder {
          color: rgb(140, 213, 235);
        }
        .el-range-input {
          font-size: 12px;
          background-color: transparent;
          color: #fff;
          width: 132px;
          &::-webkit-input-placeholder {
            color: rgb(140, 213, 235) !important;
          }
        }
        .el-range-separator {
          margin-top: 2px;
          font-size: 12px;
          padding: 0 2px;
          color: #fff;
        }
      }
    }
    .action {
      position: absolute;
      left: 638px;
      width: 160px;
      border: none;
      background-color: transparent;
      text-align: left;
      .el-button--small {
        padding: 14px 17px;
        background-color: rgb(0, 155, 198);
        border-radius: 0px;
        border: 1px solid rgb(140, 213, 235);
        &:hover {
          background-color: darken(rgb(140, 213, 235), 9%);
        }
      }
    }
  }
}