posTop(WIDTH, HEIGHT, URL, TOP = 0, LEFT = 0, LINEHEIGHT = HEIGHT)
  position absolute
  top TOP
  left LEFT
  line-height LINEHEIGHT
  whb WIDTH, HEIGHT, URL

posBtm(WIDTH, HEIGHT, URL, BOTTOM = 0, LEFT = 0, LINEHEIGHT = HEIGHT)
  position absolute
  bottom BOTTOM
  left LEFT
  line-height LINEHEIGHT
  whb WIDTH, HEIGHT, URL

posTopR(WIDTH, HEIGHT, URL, TOP = 0, RIGNT = 0, LINEHEIGHT = HEIGHT)
  position absolute
  top TOP
  right RIGNT
  line-height LINEHEIGHT
  whb WIDTH, HEIGHT, URL

posBtmR(WIDTH, HEIGHT, URL, BOTTOM = 0, RIGNT = 0, LINEHEIGHT = HEIGHT)
  position absolute
  bottom BOTTOM
  right RIGNT
  line-height LINEHEIGHT
  whb WIDTH, HEIGHT, URL

widthHeight(WIDTH, HEIGHT)
  width WIDTH
  height HEIGHT

whb(WIDTH, HEIGHT, URL)
  widthHeight WIDTH, HEIGHT
  bg URL

whpb(WIDTH, HEIGHT, PADDING, URL)
  whb WIDTH, HEIGHT, URL
  padding PADDING

whpb_(WIDTH, HEIGHT, PADDING, URL, BGX, BGY, BGXEND, BGYEND)
  widthHeight WIDTH, HEIGHT
  padding PADDING
  background url(URL) BGX BGY / BGXEND BGYEND no-repeat

bg(URL)
  background url(URL) 0 0 / 100% 100% no-repeat

ta(DIRECTION = center)
  text-align DIRECTION

textoverflow()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
